<!doctype html>

<link rel="stylesheet" type="text/css" href="style.css" />
    <html>
        <header>
            <h1>User Signup</h1>
        </header>
        <body>
            <form method="post">
            <label>Name:</label>
                <br>
            <input name="name" type="text" />
                <br>
            <label>Password:</label>
                <br>
            <input name="password" type="password" />
                <br>
            <label>Email:</label>
                <br>
            <input name="email" type="email" />
                <br>
            <input name="submit" type="submit" value="Sign Up" />
            </form>
        </body>
    </html>